
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~ionicons/dist/scss/ionicons";

body {
  background-color: slategray;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.actions{
  border-bottom: 1px solid;
  padding: 10px 10px 0;
  button {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border: 1px solid gray;
    cursor: pointer;

    &.active {
      background-color: #0eb5d6;
    }

    &:hover {
      background-color: #0eb5d6;
    }
  }
}

.card-header{
  &.active {
    background-color: #0eb5d6;
    color: white;

    a{
      color: inherit;
    }
  }
}

.plugins-preview {
  list-style: none;
  padding-left: 0;
  margin: 0;

  li {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 5px;
    margin-top: 1em;
  }
}

.tab-header {
  cursor: pointer;

  &:hover{
    background-color: #0eb5d6;
    a{
      color: white;
    }
  }
}

@keyframes hide {
  from {
    height: 100%;
  }
  to {
    height: 0;
    display: none;
  }
}

@keyframes spin{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
//.fade-leave {
//  height: 0;
//}
//.fade-enter-to {
//  height: 0;
//  opacity: 0;
//}

.slide-enter-active, .slide-leave-active {
  transition: height .5s;
}
.slide-enter, .slide-leave-to {
  height: 0;
}