<template>
    <div>
    <div class="card">
        <div class="card-header">
            <h6>Add new</h6>
        </div>
        <div class="actions">
            <button @click.prevent="open_tab('search')" :class="[ tab === 'search' ? 'active' : '' ]">Search</button>
            <button @click.prevent="open_tab('url')" :class="[ tab === 'url' ? 'active' : '' ]">Set Url</button>
            <button @click.prevent="open_tab('file')" :class="[ tab === 'file' ? 'active' : '' ]">Upload zip</button>
        </div>
        <div v-show="tab==='search'" class="action-search">
            <plugins-search :type="this.type"></plugins-search>
        </div>
        <div v-show="tab==='url'" class="action-url">
            <plugins-form :type="this.type"></plugins-form>
        </div>
        <div v-show="tab==='file'" class="action-file">
            <plugins-upload :type="this.type" :files="this.files"></plugins-upload>
        </div>
        <div class="card-footer"></div>
    </div>
        <div class="card">
            <div class="card-header">
                <h6>Saved</h6>
            </div>

        <table class="table table-striped table-bordered">
            <tbody>
            <tr>
                <th>Name</th>
                <th>Path</th>
                <th width="50">Remove</th>
            </tr>

            <tr v-for="(post, key) in this.the_posts" :key="key">
                <td>{{post.name}}</td>
                <td>{{post.path}}</td>
                <td>
                    <a href="#" @click.prevent="destroy(key)" class="btn btn-danger btn-sm"><i class="icon ion-md-close"></i></a>
                </td>
            </tr>
            </tbody>

        </table>
            <div class="card-footer"></div>
    </div>
    </div>

</template>

<script>
    import axios from "axios"
    import PluginsForm from "./PluginsForm";

    export default {
        props: ['posts', 'type', 'files'],
        data() {
            return {
                the_posts: [],
                the_type: null,
                tab:''
            }
        },
        mounted() {
            this.the_posts = this.posts
            this.the_type = this.type
            this.$on('new_post', (payload)=>{
                console.log(payload)
                this.the_posts.push( payload )
            })
        },
        methods: {
            open_tab(tab){
                if (this.tab === tab){
                    this.tab = ''
                } else {
                    this.tab = tab
                }
            },
            destroy(key){
                axios.delete(/settings/+this.the_posts[key].id).then((response)=>{
                    if(response.data == 1){
                        this.the_posts.splice(key, 1);
                }
                })
            }
        }
    }
</script>

<style scoped>
    .card {
        margin-bottom: 30px;
    }
</style>