<template>
    <div class="card-body">
        <div v-if="success" class="alert alert-success"><i class="icon ion-md-checkmark"></i> Saved.</div>
        <form enctype="multipart/form-data">
            <div class="form-group">
                <label>Upload zip</label>
                <input v-if="uploadReady" type="file" name="file" class="form-control" v-on:change="on_file_change" accept=".zip" />
                <span v-if="this.errors.file" class="text-danger" role="alert">
                                        <strong>{{this.errors.file[0]}}</strong>
                                    </span>
            </div>
            <div class="form-group">
                <label>Custom mane</label>
                <input type="text" name="name" class="form-control" v-model="form.name" placeholder="Name" @keyup="clean_errors('name')"/>
                <span v-if="this.errors.name" class="text-danger" role="alert">
                                        <strong>{{this.errors.name[0]}}</strong>
                                    </span>
            </div>
            <div class="form-group">
                <button class="btn btn-success btn-sm" @click.prevent="save_plugin">Save</button>
            </div>
        </form>

        <ul class="plugins-preview">
            <li v-for="(file, key) in this.the_files" :key="key">
                <h5>{{file.name}}</h5>
                <span v-if="file.installed"><i class="icon ion-md-checkmark"></i></span>
                <a v-else class="btn btn-sm btn-light" @click.prevent="select_plugin(key)">Select</a>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        props:['type', 'files'],
        data() {
            return {
                form:{
                    type: this.type,
                    validateAs: 'file',
                    name: '',
                    file: {}
                },
                the_files: [],
                formData: {},
                errors: {},
                success: false,
                uploadReady: true
            }
        },
        mounted(){
            this.the_files = this.files
        },
        methods: {
            on_file_change(e){
                var files = e.target.files || e.dataTransfer.files;
                console.log(files);
                if (!files.length)
                    return;
                this.form.file = files[0];
            },
            clear () {
                this.uploadReady = false
                this.errors = {}
                this.$nextTick(() => {
                    this.uploadReady = true
            })
            },
            clean_errors(key){
               this.errors[key] = null
            },
            message(){
                this.success = true
                this.$nextTick(()=>{
                    setTimeout(()=>{
                    this.success = false
                }, 5000)
                })
            },
            save_plugin(){
                this.success = false

                this.formData = new FormData();
                this.formData.append('name', this.form.name);
                this.formData.append('file', this.form.file);
                this.formData.append('type', this.type);
                this.formData.append('validateAs', this.form.validateAs);
                axios.post('settings', this.formData, {headers: {'Content-Type': 'multipart/form-data'}}).then((response)=>{
                if (response.data){
                    this.form.name = ''
                    this.form.file = {}
                    this.clear()
                    this.message()
                    this.$parent.$emit('new_post',response.data)
                }
            }).catch((errors) => {
                    this.errors = errors.response.data.errors
            })
            },
            select_plugin(key){
                var plugin = {
                    name: this.the_files[key].name,
                    type: this.type,
                    path: this.the_files[key].file
                }
                var bus = this.the_files[key]
                bus.installed = true
                this.the_files.splice(key, 1, bus)
                axios.post('settings', plugin).then((response)=>{
                    if(response.data){
                    this.$parent.$emit('new_post',response.data)
                }
            }).catch((errors)=>{})
            }
        }
    }
</script>

<style scoped lang="scss">
    .icon {
        color: green;
        font-size: 150%;
    }
</style>