<template>
    <div class="card-body">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" v-model="search" placeholder="Search" @keyup="search_plugin"/>
                <i class="icon ion-md-arrow-forward"></i>
            </div>
            <button type="submit" style="display: none" @click.prevent></button>
        </form>
        <div v-if="error">
            <p class="text-center">No matches</p>
        </div>
        <ul v-else class="plugins-preview">
            <li v-for="(plugin, key) in this.posts" :key="key">
                <h5>{{plugin.name}}</h5>
                <span v-if="plugin.installed"><i class="icon ion-md-checkmark"></i></span>
                <a v-else class="btn btn-sm btn-light" @click.prevent="select_plugin(key)">Select</a>
            </li>
        </ul>
    </div>
</template>

<script>
    import axios from "axios"

    export default {
        props:['type'],
        data(){
            return {
                search: '',
                posts: [],
                error: false
            }
        },
        mounted() {
        },
        methods:{
            search_plugin(){
                if (this.search.length > 2){
                    axios.get('/search/'+this.type+'/'+this.search).then((response)=>{
                        if (response.data.length){
                            this.posts = response.data
                        this.error = false
                    } else {
                            this.error = true
                    }
                    })
                }
            },
            select_plugin(key){
                var plugin = {
                    name: this.posts[key].name,
                    type: this.type,
                    path: this.posts[key].slug
                }
                var bus = this.posts[key]
                bus.installed = true
                this.posts.splice(key, 1, bus)
                axios.post('settings', plugin).then((response)=>{
                    if(response.data){
                        this.$parent.$emit('new_post',response.data)
                    }
                })
            }
        }
    }
</script>

<style scoped lang="scss">
  .btn {
      background: #e1e1e1;
      &:hover {
          background: #00a0d2;
          color: white;
      }
  }

    .icon {
        color: green;
        font-size: 150%;
    }
    input {
        margin-right: 1em;
    }

    .form-group {
        position: relative;

        .icon {
            position: absolute;
            top: 50%;
            right: 0.5em;
            transform: translateY(-50%);
        }
    }
</style>