<template>
    <div class="card-body">
        <div v-if="success" class="alert alert-success"><i class="icon ion-md-checkmark"></i> Saved.</div>
        <form>
            <div class="form-group">
                <label>Url to your zip file</label>
                <input type="text" class="form-control" v-model="form.path" placeholder="url" @keyup="clean_errors('path')" />
                <span v-if="this.errors.path" class="text-danger" role="alert">
                                        <strong>{{this.errors.path[0]}}</strong>
                                    </span>
            </div>
            <div class="form-group">
                <label>Custom mane</label>
                <input type="text" class="form-control" v-model="form.name" placeholder="Name" @keyup="clean_errors('name')"/>
                <span v-if="this.errors.name" class="text-danger" role="alert">
                                        <strong>{{this.errors.name[0]}}</strong>
                                    </span>
            </div>
            <div class="form-group">
                <button class="btn btn-success btn-sm" @click.prevent="save_plugin">Save</button>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        props:['type'],
        data() {
            return {
                form:{
                    type: this.type,
                    validateAs: 'url',
                    name: '',
                    path: ''
                },
                errors: {},
                success: false
            }
        },
        mounted(){},
        methods: {
            clean_errors(key){
                this.errors[key] = ''
            },
            message(){
                this.success = true
                this.$nextTick(()=>{
                    setTimeout(()=>{
                    this.success = false
                }, 5000)
            })
            },
            save_plugin(){
                this.success = false
                this.errors = {}
                axios.post('settings', this.form).then((response)=>{
                    console.log(response);
                    if (response.data){
                        this.form.name = ''
                        this.form.path = ''
                        this.message();
                        this.$parent.$emit('new_post',response.data)
                    }
                }).catch((errors) => {
                    this.errors = errors.response.data.errors
                })
            }
        }
    }
</script>

<style scoped lang="scss">
    .icon {
        color: green;
        font-size: 150%;
    }
    .alert {
        animation: hide 0.5s 5s forwards;
    }
</style>