<template>
    <div>
        <div v-show="this.logs.length">
            <p v-for="(log, key) in this.logs" :key="key">
                <i v-if="log.status == 'success'" class="icon ion-md-checkmark-circle text-success"></i>
                <i v-else class="icon ion-md-information-circle text-warning"></i>
                {{log.info}}
            </p>
            <i v-if="inProgress" class="icon ion-md-sync icon-looping"></i>
            <div v-if="this.logs.length - 1 == this.plugins.length && this.success && !this.inProgress">
                <a :href="'//' + project.sub_domain + '.' + domain" target="_blank" class="btn btn-info">Visit site</a>
            </div>
            <div v-if="!this.success">
                <a :href="''" class="btn btn-danger">Try again</a>
            </div>
        </div>
        <div v-show="!this.logs.length">
            <form method="post" action="/projects" enctype="multipart/form-data">

                <div class="form-group">
                    <label class="control-label">Subdomain<span>*</span></label>
                    <input id="sub_domain" name="sub_domain" class="form-control" type="text"
                           v-model="formData.sub_domain" @keyup="clean_errors('domain')" />
                    <span v-if="errors.sub_domain_slug" class="text-danger" role="alert">
                <strong>{{errors.sub_domain_slug[0]}}</strong>
            </span>
                    <span v-if="errors.database_slug" class="text-danger" role="alert">
                <strong>{{errors.database_slug[0]}}</strong>
            </span>
                </div>

                <div class="form-group">
                    <label class="control-label">Admin email</label>
                    <input id="wp_admin" name="wp_admin" class="form-control" type="text"
                           v-model="formData.wp_admin" @keyup="clean_errors('wp_admin')" />
                    <span v-if="errors.wp_admin" class="text-danger" role="alert">
                <strong>{{errors.wp_admin[0]}}</strong>
            </span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg" @click.prevent="send_form">Run</button>
                    <i v-if="inProgress" class="icon ion-md-sync icon-looping"></i>
                </div>
            </form>
        </div>

    </div>
</template>

<script>
    import axios from "axios"

    export default {
        props: ['plugins', 'domain'],
        data(){
            return{
                formData:{
                    sub_domain:'',
                    wp_admin:''
                },
                errors: {},
                inProgress:false,
                logs:[],
                project: {},
                success: null
            }
        },
        methods:{
            clean_errors(key){
                if (key == 'domain' ){
                    this.errors.sub_domain_slug = ''
                    this.errors.database_slug = ''
                } else {
                    this.errors[key] = ''
                }

            },
            send_form(){
                if (this.inProgress) return
                this.inProgress = true
                this.errors = {}
                axios.post('/projects', this.formData).then((response)=>{
                    this.formData.sub_domain = ''
                    this.formData.wp_admin = ''
                    this.inProgress = false
                    if(response.data){
                        // this.$parent.$emit('new_project',response.data)
                        if (response.data.success){
                            axios.post('/apache').then()
                                .catch((errors)=>{
                                this.inProgress = true
                            setTimeout(()=>{
                                this.set_plugins();
                        }, 7000)

                            })
                            this.project = response.data.project;
                        }
                        this.success = response.data.success
                        this.logs.push(response.data.message)
                    }
                }).catch((errors) => {
                    this.errors = errors.response.data.errors
                    this.inProgress = false
            })
            },
            set_plugins($i = 0) {
                let mv = this
                if (this.plugins.length){
                    axios.post('/install', {id:this.plugins[$i]})
                        .then((response) => {
                    if (response.data) {
                        mv.logs.push(response.data.message)
                    }
                    if ($i+1 < this.plugins.length){
                        this.set_plugins($i+1)
                    }
                    else {
                        this.inProgress = false
                        axios.post('/install/rights')
                    }
                })
                .catch()
                } else {
                    this.inProgress = false
                    axios.post('/install/rights')
                }
            }
        }
    }
</script>

<style scoped lang="scss">
 .icon {
     font-size: 120%;
 }
    .icon-looping {

        &::before {
             transform-origin: center;
             animation: spin 1s linear infinite;
         }
    }

</style>