<template>
    <div>

    <table class="table table-striped table-bordered">
        <tr>
            <th>#</th>
            <th>Subdomain</th>
            <th>Admin email</th>
            <th>Action</th>
            <th width="155">Delete</th>
        </tr>
        <tbody>
        <tr v-for="(project, key) in the_projects" :key="project">
            <td>{{key}}</td>
            <td><a :href="'//' + project.sub_domain + '.' + domain"
                   target="_blank">{{project.sub_domain}}.{{domain}}</a></td>
            <td>{{project.wp_admin}}</td>

            <td v-if="project.status">
                <button class="btn btn-warning btn-sm" @click.prevent="change_status(key)">Disable</button>
            </td>
            <td v-else>
                <button class="btn btn-info btn-sm" @click.prevent="change_status(key)">Enable</button>
            </td>

            <td v-if="project.status">
            </td>
            <td v-else>
                <button class="btn btn-danger btn-sm" type="submit" @click.prevent="destroy(key)">Delete permanently</button>
            </td>
        </tr>
        </tbody>
    </table>

    </div>

</template>
<script>
    import axios from "axios"

    export default {
        props: ['posts', 'domain'],
        data(){
            return {
                the_projects: {},
                formData:{},
                errors:{},
                show_form:false
            }
        },
        mounted(){
            this.the_projects = this.posts
            this.$on('new_project', (payload)=>{
                this.the_projects.unshift( payload )
        })
        },
        methods: {
            change_status(key){
                var status = this.the_projects[key].status;
                if (status){
                    status = '0'
                } else {
                    status = '1'
                }
                // this.formData = new FormData();
                this.formData.status = status
                axios.put('/projects/'+this.the_projects[key].id, this.formData).then((response)=>{
                    console.log(response.data)
                    this.the_projects[key].status = response.data
                    axios.post('/apache').catch((errors)=>{})
                }).catch((errors) => {
                    this.errors = errors.response.data.errors
            })
            },
            destroy(key){
                axios.delete(/projects/+this.the_projects[key].id).then((response)=>{
                    if(response.data == 1){
                    this.the_projects.splice(key, 1);
                }
            })
            }
        }
    }
</script>

<style scoped>

</style>