<template>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header tab-header" @click.prevent="open_tab('plugin')" :class="[ tab === 'plugin' ? 'active' : '' ]">
                    <a href="#plugin">Plugins</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header tab-header" @click.prevent="open_tab('theme')" :class="[ tab === 'theme' ? 'active' : '' ]">
                    <a href="#theme">Themes</a>
                </div>
            </div>
        </div>
        <transition name="fade" mode="out-in">
        <div v-if="tab==='plugin'" class="col-12" :key="'plugin'">
            <plugins-list :posts="this.plugins" :files="this.plugin_files" :type="'plugin'"></plugins-list>
        </div>
        <!--</transition>-->
        <!--<transition appear name="fade">-->
        <div v-if="tab==='theme'" class="col-12" :key="'theme'">
            <plugins-list :posts="this.themes" :files="this.theme_files" :type="'theme'"></plugins-list>
        </div>
        </transition>
    </div>

</template>

<script>
    export default {
        props:['plugins', 'themes', 'plugin_files', 'theme_files'],
        data(){
            return{
                tab:'plugin'
            }
        },
        methods: {
            open_tab(tab){
                this.tab = tab
            }
        }
    }
</script>

<style scoped>
    .col-6 {
        margin-bottom: 15px;
    }
</style>